
body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background: #f5eede;
    color: #333;
}


header {
    background: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #b89b49;
    margin: 0;
    font-size: 28px;
}


nav {
    background:#a68a3d;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
nav a:hover {
    background: #444;
}


.container {
    width: 85%;
    margin: auto;
    padding: 20px;
    background: #f8f4ec;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

h2 {
    border-left: 6px solid #b89b49;
    padding-left: 12px;
    color:#222
}


.card {
    background: #fafafa;
    color:#333;
    padding: 20px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: p6x solid #b89b49;
}


input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #b89b49;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #a68a3d ;
}

footer {
    background:  #b89b49;
    color: #f5f5f5;
    margin-top: 30px;
    padding: 30px 0;
    font-size: 15px;
}


footer h3, footer h4 {
    color: black; 
}

.footer-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-box {
    width: 30%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 8px;
}

.footer-box a {
    color: #f5eede;
    text-decoration: none;
}

.footer-box a:hover {
    text-decoration: underline;
    color: white;
}

.bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color:#fafafa;
}


@media (max-width: 768px) {
    
    nav a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .container {
        width: 95%;
        padding: 15px;
    }

    header h1 {
        font-size: 22px;
    }
}

.event-card, .case-card {
    background: #fafafa;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: 6px solid #b89b49;
    display: flex;
    gap: 15px;
    align-items: center;
}
.event-card img, .case-card img {
    width: 150px;
    height: 110px;
    
    border-radius: 6px;
    border: 1px solid #ccc;
}
.event-info,.case-info {
    flex: 1;
    background: color #fff8e6;
    color: #333;
}
button{
    background-color: maroon;
    color: white;
    float: right;
    top: 0px;
}
.h{
     background: #fafafa;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: 6px solid #b89b49;
    display: flex;
    gap: 15px;
    align-items: center;
}
.h img{
    width: 150px;
    height: 110px;
    
    border-radius: 6px;
    border: 1px solid #ccc;
}

.card{
    flex: 1;
    background: color #fff8e6;
    color: #333;
}
.c{
     background: #fafafa;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: 6px solid #b89b49;
    display: flex;
    gap: 15px;
    align-items: center;
}
.c img{
    width: 150px;
    height: 110px;
    
    border-radius: 6px;
    border: 1px solid #ccc;
}
.b{
     background: #fafafa;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: 6px solid #b89b49;
    display: flex;
    gap: 15px;
    align-items: center;
}
.b img{
    width: 150px;
    height: 110px;
    
    border-radius: 6px;
    border: 1px solid #ccc;
}