
body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background: #fafafa;
    color: #333;
}


header {
    background: #262626;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: white;
    margin: 0;
    font-size: 28px;
}


nav {
    background:white;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
nav a:hover {
    background: #555;
}


.container {
    width: 85%;
    margin: auto;
    padding: 20px;
    background: ;
    box-shadow: 0 0 10px maroon #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

h2 {
    border-left: 4px solid #444;
    padding-left: 10px;
}


.card {
    background: #ccc;
    color:#333;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    border-left: 5px solid #333;
}


input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #555;
}

footer {
    background: ;
    color: black;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    
    nav a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .container {
        width: 95%;
        padding: 15px;
    }

    header h1 {
        font-size: 22px;
    }
}
.event-card {
    background: #f8f8f8;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border-left: 6px solid #444;
    display: flex;
    gap: 15px;
    align-items: center;
}

.event-card img {
    width: 140px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.event-info {
    flex: 1;
    background-color:#ccc;
    color: #333;
}
button{
    background-color: maroon;
    color: white;
    float: right;
    top: 0px;
}
